@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(https://id.allfont.net/allfont.css?fonts=linden-hill);
@import url('https://fonts.googleapis.com/css2?family=Linden+Hill&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Linden+Hill&family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Linden+Hill&family=Prompt:wght@600;700&family=Ramaraja&family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@keyframes UpDown{
  0%{
    bottom: 50px;
    transform: translateY(0, 0px);
  }
  50%{
    bottom: 70px;
    transform: translateY(0, 15px);
  }
  100%{
    bottom: 50px;
    transform: translateY(0, -0px);
  }
}

:root {
  --white: #f5f5f5;
  --grey: #e4e4e4;
  --dark-blue: #09172d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  font-family: 'Poppins';
  color: var(--white);
}

.navbar-container {
  position: absolute;
  width: 100%;
  display: flex;
  padding: 10px 80px;
  justify-content: space-between;
  background-color: rgba(158, 158, 158, 25%);
}

.navbar-left{
  display: flex;
  font-weight: 0;
  gap: 8px;
  font-size: 20px;
  align-items: center;
  font-family: "Linden Hill";
}

.navbar-left h2{
    color: #000000;
}

.navbar-right {
  display: flex;
  gap: 48px;
  align-items: center;
}

.navbar-right-active{
    display: flex;
    gap: 48px;
    align-items: center;
}

.navbar-contact{
  background-color: #151D3B;
  padding: 6px 24px;
  border-radius: 40px;
}

.navbar-contact:hover{
    transition: 0.8s ease-in-out;
    background-color: white;
    color: black;
}

.navbar-responsive-burger{
    display: none;
}

.close-navbar{
    display: none;
}

.navbar-right-responsive{
    display: none;
}


/* Navbar responsive */
@media screen and (max-width: 569px) {
    .navbar-container{
        padding: 10px 15px !important;
    }

    .buat-tulisan{
        width: 25%;
    }

    .navbar-right-active{
        width: 200px!important;
    }

    .buat-tulisan img{
        width: 100%;
        height: 100%;
    }
}


@media screen and (max-width: 768px) {
    .navbar-container{
        padding: 10px 40px;
    }

    .close-navbar{
        display: block;
        background-color: transparent;
        border-style: none;
        padding-bottom: 32px;
        width: 20px;
        overflow: hidden;
    }

    .close-navbar img{
        width: 100%;
        height: 100%;
    }

    .navbar-right{
        display: flex;
        right: 0;
        top: 0;
        flex-direction: column;
        position: fixed;
        gap: 0;
        background-color: #151D3B;
        width: 300px;
        padding: 48px 48px;
        height: 100vh;
        z-index: 1;
        align-items: flex-end;
        justify-content: flex-start;
        transition: transform 0.5s;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        gap: 10px;
    }

    .navbar-right-active{
        display: flex;
        right: 0;
        top: 0;
        flex-direction: column;
        position: fixed;
        gap: 0;
        background-color: #151D3B;
        width: 300px;
        padding: 48px 48px;
        height: 100vh;
        z-index: 1;
        align-items: flex-end;
        justify-content: flex-start;
        transition: transform 0.5s;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        gap: 10px;
    }

    .gallery{
        border-style: solid;
        border-right: 0px;
        border-left: 0px;
        border-top: 0px;
        border-radius: 0px;
        border-bottom: 1px solid #fdfdfd;
    }

    .navbar-contact{
        padding: 0;
    }

    .navbar-right-responsive{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar-responsive-burger{
        display: block;
        height: 40px;
        background-color: transparent;
        border-style: none;
        overflow: hidden;
    }

    .navbar-responsive-burger img{
        height: 100%;
        width: 100%;
    }
}
    
@media screen and (min-width: 768px) and (max-width: 969px) { 
  .navbar-container {
    padding: 10px;
  }
  .navbar-left {
    font-size: 16px;
  }
  .navbar-right {
    gap: 20px;
  }
}

/* landscape */
.landscape{
    display: flex;
    height: 100vh;
    background: #CACACA;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    justify-content: space-between;
}

.title-landscape{
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 96px;
    color: #000000;
    overflow: hidden;
    height: auto;
    text-align: center;
}

@media screen and (max-width: 1280px){
    .landscape{
        height: 140vh;
    }
}

.grouping{
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.grid-photos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    height: 100%;
}

.see-more{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display';
    font-weight: 400;
    overflow: hidden;
}

.photo{
    overflow: hidden;
}

.photo img{
    width: 100%;
    height: 100%;
}

.see-more a{    
    color: #000000!important;
    font-size: 40px;
}

/*portrait*/

#potrait{
    background-size: cover;
    background-repeat: no-repeat;
    background: rgba(202, 202, 202, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 100px;
}

@media screen and (max-width: 1280px){

}

.title-potrait{
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 96px;
    color: #000000;
    overflow: hidden;
    text-align: center;
    margin-bottom: 92px;
}

.group-potrait{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.potrait-img{
    height: 550px;
    width: 30%;
    overflow: hidden;
}

.potrait-img img{
    width: 100%;
    height: 100%;
}

.see-more-span{
    font-family: "Poppins";
    font-size: 40px;
}

.see-more-span a{
    color: #151D3B!important;
}


/* footer */

#footer{
    background-color: #DCDCDE;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.navigate-text{
    font-family: 'Playfair Display';
    font-size: 64px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 22px;
}

.footer-navigate{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 29px;
    width: 50%;
    font-size: 24px;
    font-family: "Poppins";
}

.footer-navigate a{
  color: #000000;
}

.social-media-footer{
  display: flex;
  gap: 35px;
  height: auto;
  width: auto;
  align-items: center;
  margin-bottom: 29px;
}

.social-media-footer a{
  display: flex;
  align-items: center;
  height: 35px;
  width: auto;
  overflow: hidden; 
}

.social-media-footer img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.logo-footer{
  gap: 15px;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 36px;
  font-family: "Linden Hill";
  margin-bottom: 29px;
}

.logo-footer img{
  height: 60px;  
}

.copyright-footer{
  font-size: 20px;
  color: #E9E9E9;
  background-color: #333333;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Ramaraja";
  font-weight: 400;
}