@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(https://id.allfont.net/allfont.css?fonts=linden-hill);
@import url('https://fonts.googleapis.com/css2?family=Linden+Hill&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Linden+Hill&family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Linden+Hill&family=Prompt:wght@600;700&family=Ramaraja&family=Rochester&display=swap');

@keyframes UpDown{
  0%{
    bottom: 50px;
    transform: translateY(0, 0px);
  }
  50%{
    bottom: 70px;
    transform: translateY(0, 15px);
  }
  100%{
    bottom: 50px;
    transform: translateY(0, -0px);
  }
}

:root {
  --white: #f5f5f5;
  --grey: #e4e4e4;
  --dark-blue: #09172d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  font-family: 'Poppins';
  color: var(--white);
}

.navbar-container {
  position: fixed;
  width: 100%;
  display: flex;
  padding: 10px 80px;
  justify-content: space-between;
}

.navbar-left{
  display: flex;
  font-weight: 0;
  gap: 8px;
  font-size: 20px;
  align-items: center;
  font-family: "Linden Hill";
}

.navbar-right {
  display: flex;
  gap: 48px;
  align-items: center;
}

.navbar-contact{
  background-color: #151D3B;
  padding: 6px 24px;
  border-radius: 40px;
}

/* landing page */
#Hero {
    height: 100vh;
    background: linear-gradient(rgba(9, 23, 45, 0.25), rgba(9, 23, 45, 0.25)), url(gambar/landingpage.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.hero-content {
    flex-direction: column;
    gap: 32px;
    display: flex;
    width: 750px;
    justify-content: center;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.hero-content h1{
    font-family: 'Playfair Display';
    font-weight: 600;
}

.isi-content{
    font-family: "Poppins";
    font-size: 24px;
    padding: 10px 90px;
    color: var(--white);
}

.hero-content h1 {
    font-family: 'Playfair Display';
    font-size: 72px;
    color: var(--white);
}

.learn-more{
  position: absolute;
  bottom: 50px;
  animation: UpDown 2s infinite;
}

.learn-more:hover{
  font-weight: 500;
}

.line-more{
    display: flex;
    padding-top: 10px;
    justify-content: center;
}

.hero-button {
    font-family: 'Poppins';
    font-size: 24px;
    color: var(--white);
}


/* About us page */

#About_Us{
  height: 100vh;
  background: url(gambar/about-us.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.isi-semuanya{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 20px;
  width: 80%;
  height: 100vh;
}

.title-about-us{
  display: flex;
  justify-content: center;
}

.title-about-us p{
  font-family: 'Rochester';
  font-size: 96px;
  color: black;
}

.container-about-us{
  display: flex;
  flex-direction: column;
  background-color: #CACACA;
  align-items: center;
  margin-top: 20px;
  height: 78%;
  border-radius: 50px;
}
.isi-aboutus{
  margin-top: 120px; 
  margin-right: 200px;
  margin-left: 100px;
  font-family: 'Linden Hill';
  font-size: 20px;
}

.aboutus-bawah{
  display: flex;
  width: 75%;
  height: 50%;
  overflow: hidden;
}
.aboutus-word{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: 'Linden Hill';
  flex-direction: column;
}
.aboutus-word p{
  overflow: hidden;
}
.hi{
  font-size: 48px;
  margin-top: 120px;
  overflow: hidden; 
}
.hu{
  display: flex;
  justify-content: flex-start;
  font-style: italic;
  font-size: 30px;
  width: 75%;
  margin-right: 20px;
  padding-top: 20px;
}
.gambar-about-us{
  display: flex;
  height: 90%;
  width: 70%;
  margin-top: 40px;
  
}
.gambar-about-us img{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  margin-left: 150px;
  margin-right: 140px;
}

/* Gallery */

#Gallery{
  height: 100vh;
  background: url(gambar/about-us.png);
  display: flex;
  background-repeat: no-repeat;
  flex-direction: column;
  background-size: cover;
  align-items: center;
}

.title{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 133px;
  align-items: flex-start;
  font-family: 'Rochester';
  font-size: 96px;
  color: black;
  border-color: #CACACA;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: rgba(202, 202, 202, 0.53);
  margin-top: 40px;
}

.foto{
  display: flex;
  height: 657px;
  width: 80%;
  margin: 50px 0px 50px 0px;
  justify-content: center;
  padding: 0px 90px 0px 90px;
}

.happy-love-hope{
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0px 30px 0px 30px;
}
.isifotopertama{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 400px;
  width: 100%;
  overflow: hidden;
}
.happy-img{
  height: 242px;
  width: 400px;
  margin-right: 17px;
}

.happy-text{
  position: absolute;
  font-family: "Ramaraja";
  font-size: 48px;
  color: #FFFFFF;
  left: 29%;
  padding-top: 220px;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.happy-img img{
  display: flex;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.love-img{
  display: flex;
  height: 242px;
  width: 300px;
  border-radius: 20px;
}

.love-img img{
  height: 100%;
  width: 100%;
}

.love-text{
  position: absolute;
  font-family: "Ramaraja";
  font-size: 48px;
  color: #FFFFFF;
  left: 46%;
  padding-top: 220px;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.hope-img{
  margin-top: 20px;
  height: 657px;
  width: 100%;
  border-radius: 20px;
  display: flex;
}
.hope-img img{
  width: 100%;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.hope-text{
  position: absolute;
  font-family: "Ramaraja";
  font-size: 48px;
  color: #FFFFFF;
  left: 35%;
  padding-top: 400px;
  transform: translate(-50%, -50%);
}

.dream{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 40%;
}

.dream-text{
  position: absolute;
  font-family: "Ramaraja";
  font-size: 48px;
  color: #FFFFFF;
  left: 68%;
  padding-top: 700px;
  transform: translate(-50%, -50%);
}

#ContactUs{
  height: 100vh;
  background: url(gambar/Contact-us.png);
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.contact-us{
  display: flex;
  flex-direction: column;
  height:80%;
  width: 60%;
}

.contact-title{
  width: 357px;
  height: 167px;
  overflow: hidden;
}

.luas-contact-us{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: "Poppins";
  font-size: 48px;
  font-weight: bold;
  color: white;
}

.isi-getintouch{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: "Poppins";
  font-size: 18px;
  width: 303px;
  height: 102px;
  font-weight: bold;
  color: white;
}

.text-box{
  display: flex;
  justify-content: flex-start;
  height: 100%;
  background-color: #F0F0F0;
  border-radius: 10px;
  margin-top: 59px;
}
.gambar-text-box{
  display: flex;
  height: 100%;
  width: 34%;
  overflow: hidden;
}

.gambar-text-box img{
  width: 100%;
  padding-left: -20px;
  height: 102%;
}

.form-text-box{
  display: flex;
  height: 100%;
  width: 66%;
  flex-direction: column; 
  overflow: hidden;
  padding: 40px 50px 40px 50px;
}

.badan-text-box{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
}

.text-send-message{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins";
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  height: 50px;
  overflow: hidden;
}

.gambar-apaaja{
  display: flex;
  width: 10%;
  height: 80%;
  justify-content: flex-end;
  overflow: hidden;
  align-items: center;
}

.gambar-apaaja img{
  height: 70%;
}

.name{
  color: rgba(0, 0, 0, 0.42);
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;  
  width: 100%;
}

.name .label-first_name{
  position: absolute;
  font-family: "Poppins";
  font-weight: 500;
  bottom: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.name .label-last_name{
  position: absolute;
  font-family: "Poppins";
  font-weight: 500;
  bottom: 0;
  left: 53%;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.form-message{
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 50px;
  height: 100%;
  width: 100%;
  font-size: 14px;
  overflow: hidden;
  font-family: "Poppins";
}

.form-message input{
  overflow: hidden;
  display: flex;
  align-items: center;
  padding-top: 1px;
  color: rgba(0, 0, 0, 0.42);
  background-color: #F0F0F0;
  font-family: "Poppins";
  font-weight: 500;
  border: none;
  height: 70%;
  width: 47%;
  border-bottom: 1px solid #000000;
  outline: 0;
}
.form-message textarea{
  resize: none;
  overflow: hidden;
  padding-top: 1px;
  color: rgba(0, 0, 0, 0.42);
  background-color: #F0F0F0;
  font-family: "Poppins";
  font-weight: 500;
  border: none;
  height: 100%;
  width: 47%;
  border-bottom: 1px solid #000000;
  outline: 0;
}

.form-message .label-first_name::after{
  content: "";
  position: absolute;
  height: 100%;
  width: 47%;
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.form-message .label-last_name::after{
  content: "";
  position: absolute;
  height: 100%;
  width: 47%;
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.content-first_name{
  position: absolute;
  bottom: 360px;
  left: 0px;
  transition: all 0.3s ease;
}

.content-last_name{
  position: absolute;
  bottom: 360px;
  left: 0px;
  transition: all 0.3s ease;
}

.form-message input:focus + .label-first_name .content-first_name, 
.form-message input:valid + .label-first_name .content-first_name{
  transform: translateY(-80%);
  font-size: 12px;
  color: #4ca079;
}

.form-message input:focus + .label-last_name .content-last_name, 
.form-message input:valid + .label-last_name  .content-last_name{
  transform: translateY(-80%);
  font-size: 12px;
  color: #4ca079;
}

/* Pembatas */
.phone::-webkit-outer-spin-button,
.phone::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.contact-num-phone{
  color: rgba(0, 0, 0, 0.42);
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;  
  width: 100%;
  margin-top: 30px;
}

.contact-num-phone .label-phone{
  position: absolute;
  font-family: "Poppins";
  font-weight: 500;
  bottom: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.form-message .label-phone::after{
  content: "";
  position: absolute;
  height: 100%;
  width: 47%;
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.content-phone{
  position: absolute;
  bottom: 293px;
  left: 0px;
  transition: all 0.3s ease;
}

.form-message input:focus + .label-phone .content-phone, 
.form-message input:valid + .label-phone .content-phone{
  transform: translateY(-80%);
  font-size: 12px;
  color: #4ca079;
}

.contact-num-phone .label-email{
  position: absolute;
  font-family: "Poppins";
  font-weight: 500;
  bottom: 0;
  left: 53%;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.form-message .label-email::after{
  content: "";
  position: absolute;
  height: 100%;
  width: 47%;
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.content-email{
  position: absolute;
  bottom: 290px;
  left: 0px;
  transition: all 0.3s ease;
}

.form-message input:focus + .label-email .content-email, 
.form-message input:valid + .label-email  .content-email{
  transform: translateY(-80%);
  font-size: 12px;
  color: #4ca079;
}

/* Pembatas */
.company{
  color: rgba(0, 0, 0, 0.42);
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;  
  width: 100%;
  margin-top: 30px;
}

.company input{
  width: 100%;
}

.company .label-company{
  position: absolute;
  font-family: "Poppins";
  font-weight: 500;
  bottom: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.form-message .label-company::after{
  content: "";
  position: absolute;
  height: 100%;
  width: 47%;
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.content-company{
  position: absolute;
  bottom: 220px;
  left: 0px;
  transition: all 0.3s ease;
}

.form-message input:focus + .label-company .content-company, 
.form-message input:valid + .label-company  .content-company{
  transform: translateY(-80%);
  font-size: 12px;
  color: #4ca079;
}


/* Pembatas */
.help{
  color: rgba(0, 0, 0, 0.42);
  height: 94px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;  
  width: 100%;
  margin-top: 30px;
}

.help textarea{
  width: 100%;
}



.help .label-help{
  position: absolute;
  font-family: "Poppins";
  font-weight: 500;
  bottom: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.form-message .label-help::after{
  content: "";
  position: absolute;
  height: 100%;
  width: 47%;
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.content-help{
  position: absolute;
  bottom: 150px;
  left: 0px;
  transition: all 0.3s ease;
}

.form-message textarea:focus + .label-help .content-help, 
.form-message textarea:valid + .label-help  .content-help{
  transform: translateY(-80%);
  font-size: 12px;
  color: #4ca079;
}

.input-help{
  width: 100%;
  height: 70px!important;
}

.form-message input{
  color: rgba(0, 0, 0, 0.9)!important;
}

.form-message textarea{
  color: rgba(0, 0, 0, 0.9)!important;
}