@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(https://id.allfont.net/allfont.css?fonts=linden-hill);

:root {
  --white: #f5f5f5;
  --grey: #e4e4e4;
  --dark-blue: #09172d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-family: 'Poppins';
  color: var(--white);
}

.navbar-container {
  position: fixed;
  width: 100%;
  display: flex;
  padding: 10px 80px;
  justify-content: space-between;
}

.navbar-left{
    display: flex;
    font-weight: 0;
    gap: 8px;
    font-size: 20px;
    align-items: center;
    font-family: "Linden Hill";
}

.navbar-right {
  display: flex;
  gap: 48px;
  align-items: center;
}

.navbar-contact{
  background-color: #151D3B;
  padding: 6px 24px;
  border-radius: 40px;
}

/* landing page */
#Hero {
    height: 100vh;
    background: linear-gradient(rgba(9, 23, 45, 0.25), rgba(9, 23, 45, 0.25)), url(gambar/landingpage.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.hero-content {
    flex-direction: column;
    gap: 32px;
    display: flex;
    width: 750px;
    justify-content: center;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.hero-content h1{
    font-family: 'Playfair Display';
    font-weight: 600;
}

.isi-content{
        font-family: "Poppins";
    font-size: 24px;
    padding: 10px 90px;
    color: var(--white);
}

.hero-content h1 {
    font-family: 'Playfair Display';
    font-size: 72px;
    color: var(--white);
}

.hero-content p {
    font-family: 'Poppins';
    font-size: 24px;
    color: var(--white);
}

.hero-button {
    position: absolute;
    bottom: 100px;
}
 .line-more{
    position: absolute;
    width: 80px;
    height: 18px;
    border: 2px solid #FFFFFF;
    border-radius: 4px;
    bottom: 50px;
}



